<!DOCTYPE html>
<html lang="{{ ctx.user_language() }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Timada Starter app{% endblock %}</title>

    <link rel="icon" href="{{ ctx.create_static_url("favicon.ico") }}" />
    <link rel="stylesheet" href="{{ ctx.create_static_url("main.css") }}" crossorigin="anonymous" />

    <script src="{{ ctx.create_static_url("htmx/htmx.min.js?v=1.9.10") }}" crossorigin="anonymous"></script>
    <script src="{{ ctx.create_static_url("htmx/sse.min.js?v=1.9.10") }}" crossorigin="anonymous"></script>
    <script src="{{ ctx.create_static_url("htmx/response-targets.min.js?v=1.9.10") }}" crossorigin="anonymous"></script>
    {% block head %}{% endblock %}
  </head>

  <body>
    <main>{% block body %}{% endblock %}</main>
    {% block footer %}{% endblock %}
    
    {% if ctx.hot_reload() %}
    <script>
      var es = new EventSource('{{ ctx.create_sse_url("/sys") }}')

      es.addEventListener("hot-reload", function (e) {
        {
          location.reload(true);
        }
      })
    </script>
    {% endif %}
  </body>
</html>
