<div hx-ext="response-targets">
    <form hx-post="{{ ctx.create_url("/_create-feed") }}" hx-swap="innerHTML" hx-target-error="#create-feed-errors">
        <div class="text-error">
            <div id="create-feed-errors"></div>
        </div>

        <label for="form-title" class="form-control w-full max-w-xs">
            <div class="label">
                <span class="label-text">What is name of feed?</span>
            </div>
            <input class="input input-bordered w-full max-w-xs" id="form-title" name="title" required />
        </label>
        {% if let Some(errs) = errors.get("title") %}
        <div class="text-error">{{ errs[0] }}</div>
        {% endif %}
    </form>
</div>